@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    overscroll-behavior: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #5A6168;
}

.container {
    display: flex;
    width: 100vw;
    gap: 10px;
    padding: 10px;
    height: 100vh;
}

.hamburger i {
    font-size: 2rem;
    display: none;
    z-index: 5;
    position: absolute;
    top: 10px;
    left: 10px;
}

.close i {
    font-size: 2rem;
    right: 10px;
    top: 10px;
    position: absolute;
    display: none;
    z-index: 5;
}

section {
    background: #fff;
    border-radius: 5px;
}

.tools-board {
    width: 15vw;
    padding: 15px 22px 0;
    height: 100%;
}

.tools-board .row {
    margin-bottom: 15px;
}

.row .options {
    list-style: none;
    margin: 10px 0 0 5px;
}

.row .options .option {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

.option :where(span, label) {
    color: #5A6168;
    cursor: pointer;
    font-weight: 500;
    padding-left: 10px;
}

.option:is(:hover, .active) :where(span, label) {
    color: #4A98F7;
}

.option #fill-color {
    cursor: pointer;
    height: 14px;
    width: 14px;
}

#fill-color:checked~label {
    color: #4A98F7;
}

.option #size-slider {
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

.colors .options {
    display: flex;
    justify-content: space-between;
}

.colors .option {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-top: 3px;
    position: relative;
}

.colors .option:nth-child(1) {
    background-color: #fff;
    border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2) {
    background-color: #000;
}

.colors .option:nth-child(3) {
    background-color: #E02020;
}

.colors .option:nth-child(4) {
    background-color: #6DD400;
}

.colors .option:nth-child(5) {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
}


.colors .option.selected::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    height: 12px;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
    border-color: #ccc;
}

.option #color-picker {
    opacity: 0;
    cursor: pointer;
}

.buttons button {
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    padding: 11px 0;
    font-size: 1rem;
    margin-bottom: 13px;
    border-radius: 4px;
    font-weight: 500;
    cursor: pointer;
}

.buttons .clear-canvas {
    color: #000000;
    border: 1px solid #000000;
    transition: all 0.3s ease;
}

.clear-canvas:hover {
    color: #fff;
    background: #414242;
}

.buttons .save-img {
    border: 1px solid #000000;
    transition: all 0.3s ease;
    color: #000000;
}

.buttons .save-img:hover {
    background: #414242;
    color: #fff;
}

.drawing-board {
    flex: 1;
    overflow: hidden;
}

.drawing-board canvas {
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1000px) {
    .tools-board .row{
        margin-bottom: 0px;
    }

    .option :where(span, label) {
        font-size: 0.9rem;
        font-weight: 400;
    }

    .tools-board{
        padding: 10px 10px 0;
    }
}

@media only screen and (max-width: 768px) {
    .hamburger i {
        display: block;
    }

    .close i {
        display: block;
    }

    .tools-board {
        width: 60%;
        z-index: 10;
        position: absolute;
        left: -110%;
        transition: all 0.5s ease-in-out;
    }

    .container {
        padding: 5px;
        gap: 0;
    }
}
